.select-box{
    width: 100%;
    padding: 10px 15px;
    border: 1px solid #49505780;
    border-radius: 6px;
    margin-bottom: 5px;
    box-shadow: 0px 2px 4px -1px rgba(0, 0, 0, 0.2), 0px 4px 5px 0px rgba(0, 0, 0, 0.14), 0px 1px 10px 0px rgba(0, 0, 0, 0.12);
    background-color: white;
    color: rgba(0, 0, 0, 0.87);
}